[Unit]
Description=socat vsock proxy

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog

ExecStart=/usr/bin/socat tcp-listen:6000,reuseaddr,fork "vsock-connect:16:6000"
Restart=always

[Install]
WantedBy=multi-user.target
